.App {
  text-align: center;
}

#carousel-item{
  text-align: center;
  margin: auto;
}
#carousel-item, img{
  height: 400px;
}

image{
  text-align: center;
  display: block;
  margin: auto;
  height: 400px;
  width: 100%;
}

.nav-link{
  color: yellow;
}

#header-navbar{
  display: block;
  margin: auto;
  padding: 5rem;
  text-align: center;
}

#home-nav{
  margin-right: 2rem;
}

#about-nav{
  color: white;
}